pybullet==3.2.7
torch==2.6.0
torchvision==0.21.0
numpy==2.0.2
opencv-python==4.11.0.86
tqdm==4.67.1
groundingdino-py==0.4.0
timm>=0.9.7
transformers==4.30.2
huggingface-hub==0.16.4
addict==2.4.0
omegaconf==2.3.0
Pillow